{% extends "base/index.html" %}
{% block content %}
<h1>Fermenter - {{ fermenter.name }}</h1>
<div id="chart" style="min-width: 310px; height: 300px; margin: 0 auto"></div>
<div class="row">
  <div class="col-md-6">
    <a class="btn btn-default" href="javascript:drawChart('hour');" role="button">Hour</a>
    <a class="btn btn-default" href="javascript:drawChart('day');" role="button">Day</a>
    <a class="btn btn-default" href="javascript:drawChart('week');" role="button">Week</a>
  </div>
  <div class="col-md-6 text-right">
    <a class="btn btn-default" href="{% url 'fermenter:detail' fermenter.id %}" role="button"><i class="fa fa-arrow-left"></i> Back</a>
  </div>
</div>
<script>
function drawChart(period) {
  $.getJSON('{% url 'fermenter:chart_data' fermenter.id %}?period='+period, function(data) {
    $(function () { 
      Highcharts.setOptions({
        global: {
          useUTC: false,
        }
      });
      $('#chart').highcharts({
        plotOptions: {
          series: {
            marker: {
              enabled: false
            }
          }
        },
        chart: {
          zoomType: 'x'
        },
        credits: {
          enabled: false
        },
        title: {
          text: ''
        },
        xAxis: {
          type: 'datetime',
        },
        yAxis: {
          title: { text: '' },
          startOnTick: false,
          endOnTick: false,
          minPadding: 0.1,
          maxPadding: 0.1
        },
        legend: {
          enabled: false
        },
        series: [{
          type: 'spline',
          name: 'Temperature',
          data: data['data']
        }]
      });
    });
  });
}
$(document).ready(function() {
  drawChart("day");
});
</script>
{% endblock content %}
