{% extends "base/index.html" %}
{% block content %}
<div class="container-fluid mt-4">
  <div class="card-deck">
    <div class="card">
      <div class="card-header">
       {{ fermenter.name }}
      </div>
      <div class="card-body">
        <table class="table">
          <tr>
            <th>beer</th>
            <td>{% if fermenter.beer %}<a href="{% url 'beer:detail' fermenter.beer.id %}">{{ fermenter.beer.name }}</a>{% else %}<a href="{% url 'fermenter:new_beer' fermenter.id %}"><i class="far fa-plus-square"></i> New</a>{% endif %}</td>
          </tr>
          <tr>
            <th>setpoint</th>
            <td>{{ fermenter.setpoint }} &#176;F</td>
          </tr>
          <tr>
            <th>temperature</th>
            <td>{{ fermenter.temperature|floatformat }} &#176;F</td>
          </tr>
        </table>
      </div>
      <div class="card-footer text-muted text-center">
        Last updated {{ fermenter.date|timesince }} ago
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col text-left">Settings</div>
          <div class="col text-right"><a href="{% url 'fermenter:edit' fermenter.id %}"><i class="far fa-edit"></i> Edit</a></div>
      </div>
      </div>
      <div class="card-body">
        <table class="table">
          <tr>
            <th>mode</th>
            <td>{{ fermenter.get_mode_display }}</td>
          </tr>
          <tr>
            <th>hysteresis</th>
            <td>{{ fermenter.hysteresis }} &#176;F</td>
          </tr>
          <tr>
            <th>anticycle</th>
            <td>{{ fermenter.anticycle }} ms</td>
          </tr>
        </table>
      </div>
      <div class="card-footer text-muted">
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt-4">
  <div class="card card-table">
    <div class="card-header">
      Tasks
    </div>
    <div class="card-body table-responsive">
      <table class="table table-striped table-borderless">
        <thead>
          <tr>
            <th>task</th>
            <th>run_at</th>
            <th>last_error</th>
          </tr>
        </thead>
        <tbody>
{% for task in tasks %}
          <tr>
            <td>{{ task.verbose_name }}</td>
            <td class="text-nowrap">{{ task.run_at|timeuntil }}</td>
            <td class="text-nowrap">{{ task.last_error }}</td>
          </tr>
        </tbody>
{% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock content %}
