{% extends "base/index.html" %}
{% block content %}
<div class="container">
  <h4 class="mt-4">Fermenter - {{ fermenter.name }}</h4>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>device</th>
          <th>sn</th>
          <th>fid</th>
          <th>mode</th>
          <th>setpoint</th>
          <th>hysteresis</th>
          <th>pumprun</th>
          <th>pumpdelay</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ fermenter.component.device.device }}</td>
          <td>{{ fermenter.component.sn }}</td>
          <td>{{ fermenter.fid }}</td>
          <td>{{ fermenter.get_mode_display }}</td>
          <td>{{ fermenter.setpoint }}</td>
          <td>{{ fermenter.hysteresis }}</td>
          <td>{{ fermenter.pumprun }}</td>
          <td>{{ fermenter.pumpdelay }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <h4 class="mt-2">Tasks</h4>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>task</th>
          <th>run_at</th>
        </tr>
      </thead>
      <tbody>
{% for task in tasks %}
        <tr>
          <td>{{ task.task_name }}</td>
          <td class="text-nowrap">{{ task.run_at }}</td>
        </tr>
      </tbody>
{% endfor %}
    </table>
  </div>
  <div class="text-center">
    <a class="btn btn-light" href="{% url 'fermenter:list' %}"><i class="fas fa-arrow-left"></i> Back</a>
    <a class="btn btn-light" href="{% url 'fermenter:edit' fermenter.id %}"><i class="far fa-edit"></i> Edit</a>
  </div>
</div>
{% endblock content %}
