{% extends "base/index.html" %}
{% block content %}
<h1>Fermenter</h1>
<table class="table">
  <thead>
    <tr>
      <th class="col-xs-1">id</th>
      <th class="col-xs-1">sn</th>
      <th class="col-xs-1">tag</th>
      <th class="col-xs-1">mode</th>
      <th class="col-xs-1">setpoint</th>
      <th class="col-xs-1">hysteresis</th>
      <th class="col-xs-1">pumprun</th>
      <th class="col-xs-1">pumpdelay</th>
      <th class="col-xs-4">action</th>
    </tr>
  </thead>
{% if fermenter %}
  <tbody>
    <tr>
      <td>{{ fermenter.id }}</td>
      <td>{{ fermenter.sn }}</td>
      <td>{{ fermenter.tag }}</td>
      <td>{{ fermenter.get_mode_display }}</td>
      <td>{{ fermenter.setpoint }}</td>
      <td>{{ fermenter.hysteresis }}</td>
      <td>{{ fermenter.pumprun }}</td>
      <td>{{ fermenter.pumpdelay }}</td>
      <td><a class="btn btn-default" href="{% url 'fermenter:edit' fermenter.id %}">Edit</a><a class="btn btn-default" href="{% url 'fermenter:chart' fermenter.id %}">Chart</a></td>
    </tr>
  
{% endif %}
  </tbody>
</table>
{% endblock content %}
