{% extends "base/index.html" %}
{% block content %}
<div class="container-fluid mt-4">
  <div class="card-deck">
{% for fermenter in fermenter_list %}
    <div class="d-inline-flex">
      <div class="card">
        <div class="card-header">
          <a href="{% url 'fermenter:detail' fermenter.id %}">{{ fermenter.name }}</a>
        </div>
        <div class="card-body">
          <table class="table">
            <tr>
              <th>beer</th>
              <td>{% if fermenter.beer %}<a href="{% url 'beer:detail' fermenter.beer.id %}">{{ fermenter.beer.name }}</a>{% else %}empty{% endif %}</td>
            </tr>
            <tr>
              <th>mode</th>
              <td>{{ fermenter.get_mode_display }}</td>
            </tr>
            <tr>
              <th>setpoint</th>
              <td>{{ fermenter.setpoint }} &#176;F</td>
            </tr>
            <tr>
              <th>internal</th>
              <td>{{ fermenter.internal_temperature|floatformat }} &#176;F</td>
            </tr>
            <tr>
              <th>external</th>
              <td>{{ fermenter.external_temperature|floatformat }} &#176;F</td>
            </tr>
          </table>
        </div>
        <div class="card-footer text-muted text-center">
          Last updated {{ fermenter.datetime|timesince }} ago
        </div>
      </div>
    </div>
{% endfor %}
  </div>
</div>
{% endblock content %}
