{% extends "base/index.html" %}
{% block content %}
<h1>Fermenters</h1>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th class="col-xs-1">sn</th>
        <th class="col-xs-1">tag</th>
        <th class="col-xs-1">mode</th>
        <th class="col-xs-1">setpoint</th>
        <th class="col-xs-1">hysteresis</th>
        <th class="col-xs-1">pumprun</th>
        <th class="col-xs-1">pumpdelay</th>
        <th class="col-xs-5">temperature</th>
      </tr>
    </thead>
{% if fermenter_list %}
    <tbody>
{% for fermenter in fermenter_list %}
      <tr>
        <td><a href="{% url 'fermenter:detail' fermenter.id %}">{{ fermenter.sn }}</a></td>
        <td>{{ fermenter.tag }}</td>
        <td>{{ fermenter.get_mode_display }}</td>
        <td>{{ fermenter.setpoint }}</td>
        <td>{{ fermenter.hysteresis }}</td>
        <td>{{ fermenter.pumprun }}</td>
        <td>{{ fermenter.pumpdelay }}</td>
        <td>{{ fermenter.temperature_set.last.temperature }} F <small><small>({{ fermenter.temperature_set.last.datetime|timesince }} ago)</small></small></td>
      </tr>
{% endfor %}
{% endif %}
    </tbody>
  </table>
</div>
<div class="row">
<div class="col-md-6">
<a class="btn btn-default" href="{% url 'fermenter:discover' %}"><i class="fa fa-eye"></i> Discover</a>
</div>
<div class="col-md-6 text-right">
</div>
</div>
{% endblock content %}
