{% extends "base/index.html" %}
{% block content %}
<div class="container-fluid p-3">
  <div class="card card-table">
    <div class="card-header">
      <div class="d-flex flex-row">
        <div>Devices</div>
        <div class="ml-auto"><a class="btn btn-light btn-sm" href="{% url 'device:discover' %}"><i class="fa fa-eye" title="Discover"></i> Discover</a></div>
      </div>
    </div>
    <div class="card-body table-responsive">
      <table class="table table-striped table-borderless">
        <thead>
          <tr>
            <th>device</th>
            <th>connected</th>
          </tr>
        </thead>
{% if device_list %}
        <tbody>
{% for device in device_list %}
          <tr>
            <td>{{ device.device }}</td>
            <td>{{ device.connected }}</td>
          </tr>
{% endfor %}
        </tbody>
{% endif %}
      </table>
    </div>
  </div>
</div>
{% endblock content %}
