{% extends "base/index.html" %}
{% block content %}
<h1>Fermenters</h1>
<table class="table">
  <thead>
    <tr>
      <th class="col-xs-1">id</th>
      <th class="col-xs-1">serial</th>
      <th class="col-xs-1">tag</th>
      <th class="col-xs-8"></th>
    </tr>
  </thead>
{% if fermenter_list %}
  <tbody>
{% for fermenter in fermenter_list %}
    <tr>
      <td>{{ fermenter.id }}</td>
      <td>{{ fermenter.serial }}</td>
      <td>{{ fermenter.tag }}</td>
    </tr>
{% endfor %}
{% endif %}
  </tbody>
</table>
{% endblock content %}
