{% extends "base/index.html" %}
{% block content %}
<h1>Fermenter</h1>
<table class="table">
  <thead>
    <tr>
      <th class="col-xs-1">id</th>
      <th class="col-xs-1">sn</th>
      <th class="col-xs-1">dev</th>
      <th class="col-xs-1">mode</th>
      <th class="col-xs-1">setpoint</th>
      <th class="col-xs-1">action</th>
    </tr>
  </thead>
{% if fermenter %}
  <tbody>
    <tr>
      <td>{{ fermenter.id }}</td>
      <td>{{ fermenter.sn }}</td>
      <td>{{ fermenter.dev }}</td>
      <td>{{ fermenter.mode }}</td>
      <td>{{ fermenter.setpoint }}</td>
      <td><a href="{% url 'equipment:fermenter_edit' fermenter.id %}">Edit</a> 
    </tr>
{% endif %}
  </tbody>
</table>
{% endblock content %}
