{% extends "base/index.html" %}
{% block content %}
<h1>Keezers</h1>
<table class="table">
  <thead>
    <tr>
      <th class="col-xs-1">id</th>
      <th class="col-xs-1">sn</th>
      <th class="col-xs-1">dev</th>
      <th class="col-xs-8"></th>
    </tr>
  </thead>
{% if keezer_list %}
  <tbody>
{% for keezer in keezer_list %}
    <tr>
      <td>{{ keezer.id }}</td>
      <td>{{ keezer.sn }}</td>
      <td>{{ keezer.dev }}</td>
    </tr>
{% endfor %}
{% endif %}
  </tbody>
</table>
{% endblock content %}
