{% extends "base/index.html" %}
{% block content %}
<div class="container">
<h4 class="mt-4">Components</h4>
<table class="table">
  <thead>
    <tr>
      <th>device</th>
      <th>sn</th>
      <th>type</th>
    </tr>
  </thead>
{% if component_list %}
  <tbody>
{% for component in component_list %}
    <tr>
      <td>{{ component.device.device }}</td>
      <td>{{ component.sn }}</td>
      <td>{{ component.type }}</td>
    </tr>
{% endfor %}
  </tbody>
{% endif %}
</table>
{% endblock content %}
