{% extends "base/index.html" %}
{% block content %}
<div class="container-fluid mt-4">
  <div class="card-deck">
{% for component in component_list %}
    <div class="d-inline-flex">
      <div class="card">
        <div class="card-header text-center">
{% if component.device %}
          {{ component.device.device }}
{% else %}
          <a class="btn btn-danger btn-sm" href="{% url 'component:delete' component.id %}"><i class="fas fa-minus-circle"></i> Delete</a>
{% endif %}
        </div>
        <div class="card-body">
          <table class="table">
            <tr>
              <th>type</th>
              <td>{{ component.type }}</td>
            </tr>
            <tr>
              <th>sn</th>
              <td>{{ component.sn }}</td>
            </tr>
          </table>
        </div>
      <div>
    <div>
{% endfor %}
  </div>
</div>
{% endblock content %}
