.asteriskField { display: none; }

body {
  background-color: #424242;
  margin-bottom: 15px;
}

.navbar {
  background-color: #212121;
  color: #e0e0e0;
  padding-top: 5px;
  padding-bottom: 5px;
}

.navbar-brand {
  font-size: 1.3rem;
  font-weight: bold;
}

.jumbotron {
  background-color: #424242;
  color: #e0e0e0;
}

.card {
  background-color: #212121;
  color: #e0e0e0;
  border: none;
}

.card-header {
  background-color: #212121;
  border: none;
  font-size: 1.1rem;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}

.card-body {
  background-color: #212121;
  border: none;
  font-size: 0.8rem;
  padding-top: 0;
  padding-bottom: 0;
}

.card-footer {
  background-color: #212121;
  border: none;
  font-size: 0.6rem;
}

.bg-dark {
  background-color: #212121!important;
}

.btn-dark {
  background-color: #303030;
  color: #e0e0e0;
  border-color: #424242;
}

.table {
  color: #e0e0e0;
  margin-bottom: 0;
}

.table th {
  border-top: 1px solid #424242;
  font-size: 0.7rem;
  font-weight: normal;
}

table.recipe td {
  font-weight: normal;
  font-size: 0.8rem;
}

table.log td {
  font-size: 0.8rem;
}

table.log td.log_date {
  font-size: 0.8rem;
  font-weight: normal;
}

.table td {
  border-top: 1px solid #424242;
  font-size: 0.9rem;
  font-weight: bold;
}

.form-control {
  background-color: #303030;
  color: #e0e0e0;
  border: 1px solid #424242;
}

pre {
  background-color: #212121;
  color: #e0e0e0;
}

.form-control {
  font-size: 0.8rem;
}
