{% extends "base/index.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% if beer.fermenter %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="card mb-4 h-100">
        <div class="card-header">
          <div class="d-flex flex-row">
            <div>Fermenter</div>
            <div class="btn-toolbar ml-auto" role="toolbar" aria-label="fermenter_toolbar">
              <div class="btn-group btn-group-sm" role="group" aria-label="fermenter_group">
                <a class="btn btn-dark" href="{% url 'beer:edit_fermenter' beer.id %}"><i class="fas fa-flask"></i> Edit</a>
{% if ramp %}
                <a class="btn btn-dark" href="{% url 'beer:stop_ramp' beer.id %}"><i class="fas fa-signal"></i> Stop</a>
{% else %}
                <a class="btn btn-dark" href="{% url 'beer:start_ramp' beer.id %}"><i class="fas fa-signal"></i> Start</a>
{% endif %}
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <table class="table">
            <tr>
              <th>fermenter</th>
              <td><a href="{% url 'fermenter:detail' beer.fermenter.id %}">{{ beer.fermenter.name }}</a></td>
            </tr>
            <tr>
              <th>mode</th>
              <td>{{ beer.fermenter.get_mode_display }}</td>
            </tr>
            <tr>
              <th>setpoint</th>
              <td>{{ beer.fermenter.setpoint|floatformat }} &#176;F</td>
            </tr>
            <tr>
              <th>temperature</th>
              <td>{{ beer.fermenter.temperature|floatformat }} &#176;F</td>
            </tr>
            <tr>
          </table>
        </div>
        <div class="card-footer text-muted text-center">
          Last updated {{ beer.fermenter.date|timesince }} ago
        </div>
      </div>
    </div>
    <div class="col-md-8 mb-4">
      <div class="card">
        <div class="card-header">
          <div class="d-flex flex-row">
            <div>Graph</div>
            <div class="btn-toolbar ml-auto" role="toolbar" aria-label="graph_toolbar">
              <div class="btn-group btn-group-sm" role="group" aria-label="graph_group">
                <a class="btn btn-dark" href="javascript:drawChart('hour');" role="button">Hour</a>
                <a class="btn btn-dark" href="javascript:drawChart('day');" role="button">Day</a>
                <a class="btn btn-dark" href="javascript:drawChart('week');" role="button">Week</a>
                <a class="btn btn-dark" href="javascript:drawChart('all');" role="button">All</a>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div id="chart" style="min-width: 310px; height: 300px; margin: 0 auto"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}

<div class="container-fluid">
  <div class="card mb-4">
    <div class="card-header">
      <div class="d-flex flex-row">
        <div>{{ beer.name }}</div>
        <div class="btn-toolbar ml-auto" role="toolbar" aria-label="beer_toolbar">
          <div class="btn-group btn-group-sm" role="group" aria-label="beer__group">
            <a class="btn btn-dark" href="{% url 'beer:edit' beer.id %}"><i class="far fa-edit"></i> Edit</a>
{% if not beer.fermenter %}
            <a class="btn btn-dark" href="{% url 'beer:start_fermenter' beer.id %}"><i class="fas fa-flask"></i> Start</a>
            <a class="btn btn-dark" href="{% url 'beer:delete' beer.id %}"><i class="fas fa-trash"></i> Delete</a>
{% else %}
            <a class="btn btn-dark" href="{% url 'beer:stop_fermenter' beer.id %}"><i class="fas fa-flask"></i> Stop</a>
{% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="card-body table-responsive">
      <table class="table recipe">
        <tr>
          <td>
            <pre>{{ beer.recipe }}</pre>
          <td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div class="container-fluid mb-4">
<div class="card">
<div class="card-header">
Logs
</div>
<div class="card-body">
<table class="table log">
<tr>
<th>date</th>
<th class="col-sm">entry</th>
<th></th>
</tr>
{% for log in beer.log_set.all %}
<tr>
<td class="text-nowrap log_date">{{ log.date }}</td>
<td>{{ log.log }}</td>
<td class="text-nowrap">
<a class="text-light" href="{% url 'beer:edit_log' beer.id log.id %}"><i class="fas fa-edit"></i></a>
<a class="text-light" href="{% url 'beer:delete_log' beer.id log.id %}"><i class="fas fa-trash"></i></a>
</td>
</tr>
{% endfor %}
</table>
{% crispy form %}
</div>
</div>
</div>

{% if not beer.fermenter and beer.temperature_set.count > 0 %}
<div class="container-fluid mb-4">
  <div class="card">
    <div class="card-header">
      <div class="d-flex flex-row">
        <div>History</div>
      </div>
    </div>
    <div class="card-body">
      <div id="chart" style="min-width: 310px; height: 300px; margin: 0 auto"></div>
    </div>
  </div>
</div>
{% endif %}

{% if beer.temperature_set.count > 0 %}
<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script>
function drawChart(period) {
  $.getJSON('{% url 'beer:chart_data' beer.id %}?period='+period, function(data) {
    $(function () {
      Highcharts.setOptions({
        global: {
          useUTC: false,
        }
      });
      $('#chart').highcharts({
        plotOptions: {
          series: {
            marker: {
              enabled: false
            }
          }
        },
        chart: {
          backgroundColor: '#212121',
          zoomType: 'x'
        },
        credits: {
          enabled: false
        },
        title: {
          text: ''
        },
        xAxis: {
          type: 'datetime',
        },
        yAxis: {
          title: { text: '' },
          startOnTick: false,
          endOnTick: false,
          minPadding: 0.1,
          maxPadding: 0.1
        },
        legend: {
          enabled: true,
          itemStyle: { "color": "#e0e0e0" },
          itemHoverStyle: { "color": "#ffffff" },
          itemHiddenStyle: { "color": "#606060" }
        },
        series: [{
          type: 'spline',
          color: '#46b5d1',
          name: 'Temperature',
          data: data['data']['temperature']
        },{
          type: 'spline',
          color: '#a7d129',
          name: 'Setpoint',
          data: data['data']['setpoint']
        }]
      });
    });
  });
}
$(document).ready(function() {
{% if beer.fermenter %}
  drawChart('day');
{% else %}
  drawChart('all');
{% endif %}
});
</script>
{% endif %}
{% endblock content %}
