{% extends "base/index.html" %}
{% block content %}
<div class="container-fluid p-3">
  <div class="card card-table">
    <div class="card-header">
      <div class="d-flex flex-row">
        <div>Beer</div>
        <div class="btn-toolbar ml-auto" role="toolbar" aria-label="toolbar1">
{% if beer.fermenter %}
          <div class="btn-group btn-group-sm mr-2" role="group" aria-label="group1">
            <a class="btn btn-light" href="{% url 'beer:stop' beer.id %}"><i class="far fa-stop-circle"></i> Stop</a>
          </div>
{% if ramp %}
          <div class="btn-group btn-group-sm mr-2" role="group" aria-label="group2">
            <a class="btn btn-light" href="{% url 'beer:stop_ramp' beer.id %}"><i class="fas fa-signal"></i> Stop</a>
          </div>
{% else %}
          <div class="btn-group btn-group-sm mr-2" role="group" aria-label="group3">
            <a class="btn btn-light" href="{% url 'beer:start_ramp' beer.id %}"><i class="fas fa-signal"></i> Start</a>
          </div>
{% endif %}
{% else %}
          <div class="btn-group btn-group-sm mr-2" role="group" aria-label="group4">
            <a class="btn btn-light" href="{% url 'beer:start' beer.id %}"><i class="far fa-play-circle"></i> Start</a>
          </div>
          <div class="btn-group btn-group-sm mr-2" role="group" aria-label="group5">
            <a class="btn btn-light" href="{% url 'beer:delete' beer.id %}"><i class="fas fa-minus-circle"></i> Delete</a>
          </div>
{% endif %}
          <div class="btn-group btn-group-sm" role="group" aria-label="group6">
            <a class="btn btn-light" href="{% url 'beer:edit' beer.id %}"><i class="far fa-edit"></i> Edit</a>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body table-responsive">
      <table class="table table-striped table-borderless">
        <thead>
          <tr>
            <th>name</th>
            <th>fermenter</th>
            <th>mode</th>
            <th>setpoint</th>
            <th>internal</th>
            <th>external</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ beer.name }}</td>
{% if beer.fermenter %}
            <td><a class="text-secondary" href="{% url 'fermenter:detail' beer.fermenter.id %}">{{ beer.fermenter.name }}</a></td>
            <td>{{ beer.fermenter.get_mode_display }}</td>
            <td>{{ beer.fermenter.setpoint }} F</td>
            <td>{{ beer.temperature_set.last.internal }} F <small><small>({{ beer.internal_set.last.datetime|timesince }} ago)</small></small></td>
            <td>{{ beer.temperature_set.last.external }} F <small><small>({{ beer.external_set.last.datetime|timesince }} ago)</small></small></td>
{% if beer.internal_set.last %}
{% endif %}
{% else %}
            <td></td>
            <td></td>
            <td></td>
            <td></td>
{% endif %}
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% if beer.temperature_set.count > 0 %}
  <div class="card mt-4">
    <div class="card-header">
      <div class="d-flex flex-row">
        <div>History</div>
        <div class="btn-toolbar ml-auto" role="toolbar" aria-label="toolbar2">
          <div class="btn-group btn-group-sm" role="group" aria-label="group1">
          <a class="btn btn-light" href="javascript:drawChart('hour');" role="button">Hour</a>
          <a class="btn btn-light" href="javascript:drawChart('day');" role="button">Day</a>
          <a class="btn btn-light" href="javascript:drawChart('week');" role="button">Week</a>
          <a class="btn btn-light" href="javascript:drawChart('all');" role="button">All</a>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div id="chart" style="min-width: 310px; height: 300px; margin: 0 auto"></div>
    </div>
{% endif %}
  </div>
</div>
<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script>
function drawChart(period) {
  $.getJSON('{% url 'beer:chart_data' beer.id %}?period='+period, function(data) {
    $(function () {
      Highcharts.setOptions({
        global: {
          useUTC: false,
        }
      });
      $('#chart').highcharts({
        plotOptions: {
          series: {
            marker: {
              enabled: false
            }
          }
        },
        chart: {
          zoomType: 'x'
        },
        credits: {
          enabled: false
        },
        title: {
          text: ''
        },
        xAxis: {
          type: 'datetime',
        },
        yAxis: {
          title: { text: '' },
          startOnTick: false,
          endOnTick: false,
          minPadding: 0.1,
          maxPadding: 0.1
        },
        legend: {
          enabled: false
        },
        series: [{
          type: 'spline',
          color: 'black',
          name: 'Setpoint',
          data: data['data']['setpoint']
        },{
          type: 'spline',
          color: 'blue',
          name: 'Internal',
          data: data['data']['internal']
        },{
          type: 'spline',
          color: 'red',
          name: 'External',
          data: data['data']['external']
        }]
      });
    });
  });
}
$(document).ready(function() {
{% if beer.fermenter %}
  drawChart('day');
{% else %}
  drawChart('all');
{% endif %}
});
</script>
{% endblock content %}
