{% extends "base/index.html" %}
{% block content %}
<div class="container">
  <div class="row mt-4">
    <div class="col">
      <h4>{{ beer.name }}</h4>
    </div>
  </div>
  <div class="row">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>fermenter</th>
            <th>mode</th>
            <th>setpoint</th>
            <th>temperature</th>
          </tr>
        </thead>
        <tbody>
          <tr>
{% if beer.fermenter %}
            <td><a href="{% url 'fermenter:detail' beer.fermenter.id %}">{{ beer.fermenter.name }}</a></td>
            <td>{{ beer.fermenter.get_mode_display }}</td>
            <td>{{ beer.fermenter.setpoint }} F</td>
            <td>{{ beer.temperature_set.last.measured }} F <small><small>({{ beer.temperature_set.last.datetime|timesince }} ago)</small></small></td>
{% if beer.temperature_set.last %}
{% endif %}
{% else %}
            <td></td>
            <td></td>
            <td></td>
            <td></td>
{% endif %}
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% if beer.temperature_set.count > 0 %}
  <div class="row">
    <div class="col">
      <h4>History</h4>
    </div>
  </div>
  <div id="chart" style="min-width: 310px; height: 300px; margin: 0 auto"></div>
  <div class="row text-center">
    <div class="col">
      <a class="btn btn-light" href="javascript:drawChart('hour');">Hour</a>
      <a class="btn btn-light" href="javascript:drawChart('day');">Day</a>
      <a class="btn btn-light" href="javascript:drawChart('week');">Week</a>
    </div>
  </div>
{% endif %}
  <div class="row mt-2">
    <div class="col">
{% if beer.fermenter %}
      <a class="btn btn-light" href="{% url 'beer:stop' beer.id %}"><i class="far fa-stop-circle"></i> Stop</a>
{% if ramp %}
      <a class="btn btn-light" href="{% url 'beer:stop_ramp' beer.id %}"><i class="fas fa-signal"></i> Stop Ramp</a>
{% else %}
      <a class="btn btn-light" href="{% url 'beer:start_ramp' beer.id %}"><i class="fas fa-signal"></i> Start Ramp</a>
{% endif %}
{% else %}
      <a class="btn btn-light" href="{% url 'beer:start' beer.id %}"><i class="far fa-play-circle"></i> Start</a>
      <a class="btn btn-light" href="{% url 'beer:delete' beer.id %}"><i class="fas fa-minus-circle"></i> Delete</a>
{% endif %}
      <a class="btn btn-light" href="{% url 'beer:edit' beer.id %}"><i class="far fa-edit"></i> Edit</a>
    </div>
    <div class="col text-right">
      <a class="btn btn-light" href="{% url 'beer:list' %}"><i class="fas fa-arrow-left"></i> Back</a>
    </div>
  </div>
</div>
<script>
function drawChart() {
  $.getJSON('{% url 'beer:chart_data' beer.id %}', function(data) {
    $(function () {
      Highcharts.setOptions({
        global: {
          useUTC: false,
        }
      });
      $('#chart').highcharts({
        plotOptions: {
          series: {
            marker: {
              enabled: false
            }
          }
        },
        chart: {
          zoomType: 'x'
        },
        credits: {
          enabled: false
        },
        title: {
          text: ''
        },
        xAxis: {
          type: 'datetime',
        },
        yAxis: {
          title: { text: '' },
          startOnTick: false,
          endOnTick: false,
          minPadding: 0.1,
          maxPadding: 0.1
        },
        legend: {
          enabled: false
        },
        series: [{
          type: 'spline',
          color: 'black',
          name: 'Setpoint',
          data: data['data']['setpoint']
        },{
          type: 'spline',
          color: 'blue',
          name: 'Measured',
          data: data['data']['measured']
        }]
      });
    });
  });
}
$(document).ready(function() {
  drawChart();
});
</script>
{% endblock content %}
