{% extends "base/index.html" %}
{% block content %}
<div class="container">
  <div class="card mt-4 mb-4">
    <div class="card-header">
      Beers
    </div>
    <div class="card-body p-0">
      <div class="table-responsive">
        <table class="table mb-0">
          <thead>
            <tr>
              <th>name</th>
              <th>fermenter</th>
              <th>created</th>
            </tr>
          </thead>
{% if beer_list %}
          <tbody>
{% for beer in beer_list %}
            <tr>
              <td><a href="{% url 'beer:detail' beer.id %}">{{ beer.name }}</a></td>
{% if beer.fermenter %}
              <td><a href="{% url 'fermenter:detail' beer.fermenter.id %}">{{ beer.fermenter.name }}</a></td>
{% else %}
              <td></td>
{% endif %}
              <td>{{ beer.created }}</td>
            </tr>
{% endfor %}
          </tbody>
{% endif %}
        </table>
      </div>
    </div>
    <div class="row mt-2 mb-2">
      <div class="col ml-2 text-left">
        <a class="btn btn-light" href="{% url 'beer:create' %}"><i class="far fa-plus-square"></i> Create</a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
