{% extends "base/index.html" %}
{% block content %}
<div class="container-fluid p-3">
  <div class="card card-table">
    <div class="card-header">
      <div class="d-flex flex-row">
        <div>Beers</div>
        <div class="ml-auto"><a class="btn btn-light btn-sm" href="{% url 'beer:create' %}"><i class="far fa-plus-square"></i> New</a></div>
      </div>
    </div>
    <div class="card-body table-responsive">
      <table class="table table-striped table-borderless">
        <thead>
          <tr>
            <th>name</th>
            <th>fermenter</th>
            <th>created</th>
          </tr>
        </thead>
{% if beer_list %}
        <tbody>
{% for beer in beer_list %}
          <tr>
            <td><a class="text-secondary" href="{% url 'beer:detail' beer.id %}">{{ beer.name }}</a></td>
{% if beer.fermenter %}
            <td><a class="text-secondary" href="{% url 'fermenter:detail' beer.fermenter.id %}">{{ beer.fermenter.name }}</a></td>
{% else %}
            <td></td>
{% endif %}
            <td>{{ beer.created }}</td>
          </tr>
{% endfor %}
        </tbody>
{% endif %}
      </table>
    </div>
  </div>
</div>
{% endblock content %}
