{% extends "base/index.html" %}
{% block content %}
<div class="container-fluid mb-4">
  <div class="card">
    <div class="card-header">
      <div class="d-flex flex-row">
        <div>Beers</div>
        <div class="btn-toolbar ml-auto" role="toolbar" aria-label="fermenter_toolbar">
          <div class="btn-group btn-group-sm" role="group" aria-label="fermenter_group">
            <a class="btn btn-dark" href="{% url 'beer:create' %}">New</a>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <table class="table table-responsive">
        <tr>
          <th>Name</th>
          <th>Fermenter</th>
          <th class="col-sm">Last Updated</th>
        </tr>
{% for beer in beer_list %}
        <tr>
          <td class="text-nowrap"><a href="{% url 'beer:detail' beer.id %}">{{ beer.name }}</a></td>
{% if beer.fermenter %}
          <td><a  href="{% url 'fermenter:detail' beer.fermenter.id %}">{{ beer.fermenter.name }}</a></td>
{% else %}
          <td></td>
{% endif %}
          <td class= "text-nowrap">{{ beer.last_log }}</td>
        </tr>
{% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock content %}
